body{ 
    font-family: 'Permanent Marker', cursive;
    font-family: 'Lato', sans-serif;
    }
body h1{
    font-family: 'Permanent Marker', cursive;
}
.background div{
    background-color: rosybrown;
}
.column {
    float: left;
    width: 50%;
}
.fab {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
.fab:hover {
    opacity: 0.7;
  }
.fa-twitter-square {
    background: #55ACEE;
    color: white;
    font-size: 32px;
  }
.fl{
    display: flex;
}
form{
    align-content: center;
    margin: 1rem;
    max-width: 25rem;
    label{
        display: block;
        padding: .75rem 0;
        span{
            font-size: .75rem;
            color: gray;
        }
        input, textarea{
            display: block;
            font-size: 1rem;
            padding: .75rem;
            background-color: lightslategray;
            border: 1px solid black;
            color: black;
            margin-top: .2rem;
            width:100%;}
        textarea{
            min-height: 13rem;
        }
        }
        
    }
}
/* Small devices 768px and less */
@media only screen and (max-width: 768px){
    /* grid rules */
    .row {clear: both;}
    .column {float: left;}

    footer{
        background-color:lightgray
        font-size: 1.2rem;
    }
    footer h2{
        font-style: italic;
        text-transform: uppercase;
        margin: 1rem 0 .3rem 0;
    }

    .clearfix:after {
        content:"";
        display: table;
        clear: both;
    
}
/* Medium devices 768px to 1280px */ 
@media only screen and (min-width: 768px){
 
}

/* Large screens >1280px */
@media only screen and (min-width:1280px){

}
/*Box Model*/
* {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}