html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

* {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
h1{
    font-family: 'Permanent Marker', cursive;
    font-size: large;
}

body{ 
    font-family: 'Permanent Marker', cursive;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    }
body h1{
    font-family: 'Permanent Marker', cursive;
}
.background div{
    background-color: rosybrown;
}
.column {
    float: left;
    width: 50%;
}

.small-12{width: 100%;}
.small-6{width: 50%;}

    /* grid rules */
    .row {clear: both;}
    .limited { 
        max-width:1280px;
        margin: auto;
    }

    .column {float: left; padding: 0 2vw; margin: 0 0 .75rem 0;}

    footer{
        background-color:lightgray
        font-size: 1.2rem;
    }
    footer h2{
        font-style: italic;
        text-transform: uppercase;
        margin: 1rem 0 .3rem 0;
    }

    .clearfix:after {
        content:"";
        display: table;
        clear: both;
    }

    /* header rules */
    header{ 
        background-color:lightslategray;
    }
    header img{
        float: left;
        height: 85px;
        padding-right: 10px;
    }
    header h1, header h2{
        margin: 0;
        color:black;
    }
    header h1{
        padding: .5rem 0 0 0;
        font-size: 1.95rem;
    }
    header h2{
        padding: .2rem 0 0 0;
        font-size: 1.05rem;
    }

button#hamburgerBtn{
    background: none;
    border: none;
    color: #fff;
    font-size: 2.4rem;
    cursor: pointer;
    padding: 0 30px 0 2vw;
}
nav {background-color:lightsteelblue}
nav ul{margin:0; padding:0;}
nav li{list-style-type: none;}
nav a{
    display: block;
    padding: .8rem 0;
    color: #eee;
    text-align: center;
    text-decoration: none;
}
nav li.active{
    background-color: rgba(0,0,0,0.5);
}
nav a:hover {background-color: rgba(0,0,0,0.2);}
nav ul.open {display: block;}
nav ul {display: none;}

main img{
    width: 100%;
    height: auto;
}

main h1{
    margin: .5rem 0 .1rem 0;
    font-size: 2rem;
}

.no-bullets {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
  }

  form {
      margin: 1rem 2%;
      max-width: 25rem;
      label {
          display: block;
          padding: .75rem 0;
          span{ font-size: .75rem;}
          input, textarea{display: block; 
            font-size: 1rem;
        padding: .75rem;
    background-color: F6F6F6; 
border: 1px solid #bbb;
margin-top: .2rem;
width: 100%;}
textarea{min-height: 13rem;}
      }
      input:focus. textarea:focus {background-color: #ddd;}
  }
  submitBtn{ border-radius: 1rem;
width: 100%;
-webkit-appearance:none;
-mox-appearance: none;}